%h1 Listing contacts

%table
  %tr
    %th Call?
    %th Name
    %th Number
    %th Jid
    %th
    %th
    %th

  = form_for(:call, url: calls_path) do |f|
    - @contacts.each do |contact|
      %tr
        %td
          %input{name: "call[participants][]", type: "checkbox", value: contact.id}
        %td= contact.name
        %td= contact.number
        %td= contact.jid
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

    = f.submit "Invite to call"

%br

= link_to 'New Contact', new_contact_path
